{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='{% static "css/stylesheet.css" %}'>
</head>
<body>
    <center><h1>IMAGE INSERTION</h1></center>
    <img src="{% static 'images/mallika.jpg' %}" alt="mallika img" width="100px" height="100px">
    <center><h1>CSS STYLESHEET </h1></center>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis corporis, esse minus quo quibusdam voluptatibus, quos blanditiis maiores id sed veniam beatae tempore omnis alias excepturi possimus libero doloremque iusto. Suscipit earum nam quibusdam possimus eius placeat aliquam tempora, minima doloremque magnam error exercitationem provident illo odit aperiam quidem quam similique consequuntur laboriosam? Unde obcaecati possimus, est, quos ipsa debitis numquam corrupti fugit deserunt repellendus officiis atque? Assumenda ipsa fugit laudantium ut! Deleniti ab, voluptate et illo repudiandae vero sapiente exercitationem dolorum quae eius cum aliquam repellendus, nemo unde, minus incidunt iste neque consequuntur magnam porro nam est! Optio, quidem.
    </p>
    
</body>
</html>